<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrainIT">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TrainIT">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity" android:theme="@style/Theme.TrainIT">
        </activity>
        <activity android:name=".ui.workouts.AddWorkoutActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.workouts.WorkoutExercisesActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.workouts.WorkoutsActivity" android:theme="@style/Theme.TrainIT">
        </activity>
        <activity android:name=".ui.profile.ProfileActivity" android:theme="@style/Theme.TrainIT">
        </activity>
        <activity android:name=".ui.feature.ExercisesActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.feature.SessionsActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.feature.SessionResultsActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.feature.ReportsActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.feature.StatisticsActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.feature.SettingsActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.feature.NotificationsActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.feature.RolePanelActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.admin.AdminDashboardActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.admin.AdminGlobalModuleActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.admin.AdminUserModuleActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.admin.TrainerPanelActivity" android:theme="@style/Theme.TrainIT" />
        <activity android:name=".ui.admin.TrainerClientResultsActivity" android:theme="@style/Theme.TrainIT" />
    </application>

</manifest>